# Convex deployment for the browser
NEXT_PUBLIC_CONVEX_URL=https://perfect-pig-623.eu-west-1.convex.cloud
NEXT_PUBLIC_CONVEX_SITE_URL=https://perfect-pig-623.eu-west-1.convex.site

# The deployment slug for `npx convex` commands
CONVEX_DEPLOYMENT=dev:perfect-pig-623
